@font-face {
  font-family: 'iconfont'; /* Project id 2850115 */
  src:
    url('iconfont.woff2?t=1678064827167') format('woff2'),
    url('iconfont.woff?t=1678064827167') format('woff'),
    url('iconfont.ttf?t=1678064827167') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-touming:before {
  content: '\ffc9';
}

.icon-arrows:before {
  content: '\ffcb';
}

.icon-resize_:before {
  content: '\ffca';
}

.icon-close:before {
  content: '\ffd0';
}

.icon-window:before {
  content: '\ffd1';
}

.icon-windows:before {
  content: '\ffd2';
}

.icon-bxs-dock-left:before {
  content: '\ffce';
}

.icon-bxs-dock-bottom:before {
  content: '\ffcd';
}

.icon-bxs-dock-top:before {
  content: '\ffcf';
}

.icon-bxs-dock-right:before {
  content: '\ffcc';
}

.icon-chuangkou:before {
  content: '\ffd3';
}

.icon-star-full:before {
  content: '\ffd4';
}

.icon-star:before {
  content: '\ffd5';
}

.icon-file-fill1:before {
  content: '\ffd7';
}

.icon-folder-fill:before {
  content: '\ffd6';
}

.icon-line-mailcheckyoujianyidu:before {
  content: '\ffd8';
}

.icon-line-mailunreadyoujianweidu:before {
  content: '\ffd9';
}

.icon-T-jiacu:before {
  content: '\ffda';
}

.icon-T-fangda:before {
  content: '\ffdb';
}

.icon-T-qingxie:before {
  content: '\ffdc';
}

.icon-T-xiahuaxian:before {
  content: '\ffdd';
}

.icon-file-list--fill:before {
  content: '\ffdf';
}

.icon-image--fill:before {
  content: '\ffde';
}

.icon-shenjing:before {
  content: '\ffe0';
}

.icon-suffix-txt:before {
  content: '\ffe1';
}

.icon-suffix-rtf:before {
  content: '\ffe2';
}

.icon-file-search-line:before {
  content: '\ffe3';
}

.icon-file-text-line:before {
  content: '\ffe4';
}

.icon-file-unknow-line:before {
  content: '\ffe5';
}

.icon-reload:before {
  content: '\ffe6';
}

.icon-tiaomu-xuanzhong:before {
  content: '\ffe7';
}

.icon-fangda:before {
  content: '\ffe8';
}

.icon-suoxiao:before {
  content: '\ffe9';
}

.icon-rotate-left:before {
  content: '\ffea';
}

.icon-rotate-right:before {
  content: '\ffeb';
}

.icon-zhengque:before {
  content: '\ffed';
}

.icon-bxs-category:before {
  content: '\ffee';
}

.icon-yue:before {
  content: '\fff9';
}

.icon-riqi:before {
  content: '\ffef';
}

.icon-lock:before {
  content: '\fffa';
}

.icon-user:before {
  content: '\fffb';
}

.icon-operate-global-maximize:before {
  content: '\fffc';
}

.icon-operate-global-minimize-copy:before {
  content: '\fffd';
}
